wypozyczalnia{
	background-image: url("background.jpg");
	display: static;
	color: white;
	font-family: Arial;
}

pracownicy:before{
	content: "PRACOWNICY";
	display: block;
	text-align: center;
	font-size: large;
	font-weight: bold;
}


filie:before{
	content: "FILIE WYPOŻYCZALNI";
	display: block;
	text-align: center;
	font-size: large;
	font-weight: bold;
}

firmy:before{
	content: "MARKI POJAZDÓW";
	display: block;
	text-align: center;
	font-size: large;
	font-weight: bold;
}

autadostawcze:before{
	content: "AUTA DOSTAWCZE";
	display: block;
	text-align: center;
	font-size: large;
	font-weight: bold;
}

autaosobowe:before{
	content: "AUTA OSOBOWE";
	display: block;
	text-align: center;
	font-size: large;
	font-weight: bold;
}

busy:before{
	content: "BUSY";
	display: block;
	text-align: center;
	font-size: large;
	font-weight: bold;
}

pracownicy, filie, firmy, autadostawcze, autaosobowe, busy{
	background-image: url("background2.JPG");
	width: 25%;
	height: 37%;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 3%;
	margin-right: 3%;
	padding: 15px;
	float: left;
	border-style: solid;
	text-align: center;	
}

pracownik, filia, firma, dostawczak, osobowe, bus{
	border-style: solid;
	margin: 15px;
	padding: 1%;
	display: block;
}

nr_tel, kraj, lokalizacja, miejsca, miejsce{
	display: block;
	font-size: small;
}


nr_tel:before{
	content: "Telefon kontaktowy: ";
}

kraj:before{
	content: "Kraj pochodzenia: ";
}


lokalizacja:before, miejsce:before{
	content: "Filia: ";
}


miejsca:before{
	content: "Ilość miejsc: ";
}
